# Tell GitHub to ignore these folders for language detection
/android/* linguist-vendored
/ios/* linguist-vendored
/build/* linguist-vendored
/test/* linguist-test
/*.md linguist-documentation

# Make sure Dart files are detected
*.dart linguist-detectable
